.vertical-line {
  border-left: 9px solid $color-primary;
  height: 950px;
  position: absolute;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
  @media only screen and (min-width: $bp-large) {
    transform: rotate(90deg) translateX(-32rem);
  }
}

.link-copy {
  font-weight: 700;
  background: $color-primary;
  color: white;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  border-style: none;
  padding: 1rem;
  border-radius: 5px;
  outline: none;
}

#link {
  padding-bottom: 1rem;
  color: black;

  border-style: none;
  outline: none;
  width: 100%;
}

#short {
  color: $color-primary;
  padding: 1rem 0;
  outline: none;
  border-style: none;
}

.main-section-result-line {
  border-bottom: solid 1px $color-neutral-gv;
  width: 1000%;
}
