footer {
  background: $color-neutral-dv;
  text-align: center;
}

.footer-logo {
  padding: 5rem;
  @media only screen and (min-width: $bp-large) {
    padding: 0;
    padding-right: 20rem;
  }
}

.footer-section ul,
.social-media ul {
  list-style: none;
}

.footer-header {
  color: #ffff;
  font-size: 18px;
  font-weight: 500;
  padding: 2rem 0;

  @media only screen and (min-width: $bp-large) {
    padding: 0;
    padding-bottom: 2rem;
  }
}

.footer-section {
  @media only screen and (min-width: $bp-large) {
    text-align: left;
    padding-right: 10rem;
  }
}

.footer-section ul li a {
  text-decoration: none;
  color: $color-neutral-g;
}

.footer-section ul li {
  padding: 0.5rem 0;
  font-weight: 500;
  font-size: 16px;
}

.social-media {
  justify-content: center;
  display: flex;
  padding: 4rem 0;

  @media only screen and (min-width: $bp-large) {
    padding: 0;
  }
}

.social-media ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-media li {
  padding: 0px 1rem;
}

.footer-container {
  @media only screen and (min-width: $bp-large) {
    padding: 6rem 2rem;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
  }
}
