.home {
  overflow: hidden;
}

.image-section {
  margin-right: -60%;
}
.banner {
  position: relative;

  width: 80%;
  padding: 1rem 2rem;
}

h1 {
  color: $color-neutral-db;
  font-size: 4rem;
  padding-bottom: 1rem;
  line-height: 50px;
}

h2 {
  color: $color-neutral-db;
  padding-bottom: 1rem;
  font-size: 30px;
}

.main-section {
  padding-bottom: 10rem;

  &-container {
    margin: 0 4rem;
    position: relative;
    bottom: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }
}
.main-section,
.mid-section {
  display: block;
  text-align: center;

  &-p {
    padding: 0rem 1rem 0rem 1rem;
    margin-bottom: 4rem;
  }
}

.main-section-search {
  background: $color-primary-violet;
  padding: 3rem 2rem;
  margin-bottom: 2rem;
  border-style: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.main-section-result {
  background: white;
  padding: 2rem 2rem;

  border-style: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.highlighted-text {
  display: none;
  color: $color-secondary;
  font-size: 1.6rem;
  font-style: italic;
  padding: 8px 0;
}

.show {
  display: block;
}

.main-section-btn {
  margin-bottom: 5rem;
  background: $color-primary;
  font-family: $font-primary;
  color: #ffffff;
  font-size: 2rem;
  border-style: none;
  border-radius: 30px;
  padding: 1.5rem;
  width: 62%;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.mid-section {
  margin-top: -2rem;
  margin-bottom: 4rem;

  &-p {
    line-height: 30px;
  }

  &-bg {
    background-color: #eff1f7;
    padding-bottom: 8rem;
    position: relative;
  }
}

.background-style {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.api-search {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  font-family: $font-primary;
  color: $color-neutral-g;
  font-size: 1.8rem;
}

.search-term,
.api-search-btn {
  border-style: none;
  border-radius: 5px;
  padding: 1.5rem;
  width: 100%;
}

.api-search-btn {
  font-weight: 700;
  background: $color-primary;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin-top: 2rem;
}

.focus {
  outline: $color-secondary solid 2px;
  outline-offset: -2px;
  outline-width: 4px;
}

.search-term::placeholder {
  font-family: $font-primary;

  font-size: 16px;
}

.error {
  color: $color-secondary;
}

.feature {
  background: white;
  text-align: center;
  margin: 0 3rem;
  border-radius: 10px;
  position: relative;

  &-content,
  &-content-2 {
    margin-bottom: 12rem;
  }
}

.icon {
  // background-color: #3b3054;
  // position: absolute;
  // padding: 2rem;
  // border-radius: 50%;
  // top: -15%;

  display: flex;
  justify-content: center;

  &-bg {
    position: absolute;
    background: $color-primary-violet;
    border-radius: 50%;
    padding: 2rem;
    top: -5rem;
  }
}

.feature-heading {
  padding: 8rem 0 2rem 0;
}

.feature-p {
  padding: 1rem 5rem 5rem 5rem;
}

.bottom-banner {
  background: $color-primary-violet;

  &-header {
    color: white;
    text-align: center;
  }
}

.bottom-banner {
  position: relative;
  height: 50vh;
  overflow: hidden;
  z-index: 1;
  padding: 10rem 0;

  &-bg {
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50vh;
    z-index: -1;
  }

  &-text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &-header {
    padding-bottom: 2rem;
  }
}

/* Show green borders when valid */
input[data-state="valid"] {
  border-color: hsl(120, 76%, 50%);
}

/* Show red borders when filled, but invalid */
input[data-state="invalid"] {
  border-color: hsl(0, 76%, 50%);
}
