* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}

p {
  color: #9e9aa7;
  font-weight: 500;
}

.nav-list-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
}

.nav-list-mobile a {
  color: white;
  text-decoration: none;
  padding: 1.5rem;
  font-weight: 500;
}

.sign-up-btn {
  background: #2acfcf;
  width: 100%;
  padding: 1rem;
  border-radius: 30px;
  border-style: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 1rem;
}

.mobile-seperator {
  width: 100%;
  border-style: none;
  border-bottom: 1px solid #bfbfbf;
}

.burger {
  background: transparent;
  position: absolute;
  top: 2rem;
  right: 3rem;
  padding: 1rem 1.3rem 1.3rem 1.7rem;
  cursor: pointer;
}

.burger-menu {
  position: relative;
  margin: 0 2rem;
  visibility: hidden;
}

.burger-background {
  background: #3b3054;
  border-radius: 10px;
  position: absolute;
  z-index: 100;
  width: 100%;
}

.burger-icon {
  position: absolute;
  right: 0rem;
  top: 1rem;
}

.burger-icon, .burger-icon::before, .burger-icon::after {
  width: 3rem;
  height: 3px;
  background-color: #bfbfbf;
  display: inline-block;
}

.burger-icon::before, .burger-icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.burger-icon::before {
  top: -0.8rem;
}

.burger-icon::after {
  top: 0.8rem;
}

.animate {
  background-color: transparent;
}

.animate::before {
  top: 0rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.animate::after {
  top: 0rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.active {
  visibility: visible;
}

.vertical-line {
  border-left: 9px solid #2acfcf;
  height: 950px;
  position: absolute;
  z-index: 0;
  right: 49%;
}

footer {
  background: #232127;
  text-align: center;
}

.footer-logo {
  padding: 5rem;
}

.footer-section ul,
.social-media ul {
  list-style: none;
}

.footer-header {
  color: #ffff;
  font-size: 18px;
  font-weight: 500;
  padding: 2rem 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-section ul li {
  padding: 0.5rem 0;
  font-weight: 500;
  font-size: 16px;
}

.social-media {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 0;
}

.social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.social-media li {
  padding: 0px 1rem;
}

.container {
  padding: 2rem 2rem;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-icon {
  color: #bfbfbf;
}

.logo {
  margin-right: auto;
}

.home {
  overflow: hidden;
}

.image-section {
  margin-right: -60%;
}

.banner {
  position: relative;
  width: 80%;
  padding: 1rem 2rem;
}

h1 {
  color: #35323e;
  font-size: 4rem;
  padding-bottom: 1rem;
  line-height: 50px;
}

h2 {
  color: #35323e;
  padding-bottom: 1rem;
  font-size: 30px;
}

.main-section {
  padding-bottom: 10rem;
}

.main-section-container {
  margin: 0 4rem;
  position: relative;
  bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-section,
.mid-section {
  display: block;
  text-align: center;
}

.main-section-p,
.mid-section-p {
  padding: 0rem 1rem 0rem 1rem;
  margin-bottom: 4rem;
}

.main-section-search {
  background: #3b3054;
  padding: 3rem 2rem;
  border-style: none;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.highlighted-text {
  display: none;
  color: #f46262;
  font-size: 1.6rem;
  font-style: italic;
  padding: 1rem 0;
}

.main-section-btn {
  margin-bottom: 5rem;
  background: #2acfcf;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  border-style: none;
  border-radius: 30px;
  padding: 1.5rem;
  width: 62%;
  cursor: pointer;
}

.main-section-btn:focus {
  outline: none;
}

.mid-section {
  margin-top: -2rem;
  margin-bottom: 4rem;
}

.mid-section-p {
  line-height: 30px;
}

.mid-section-bg {
  background-color: #eff1f7;
  padding-bottom: 8rem;
  position: relative;
}

.background-style {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.api-search {
  width: 100%;
  padding-bottom: 2rem;
}

input {
  font-family: "Poppins", sans-serif;
  color: #bfbfbf;
  font-size: 1.8rem;
}

.search-term,
.api-search-btn {
  border-style: none;
  border-radius: 5px;
  padding: 1.5rem;
  width: 100%;
}

.api-search-btn {
  font-weight: 700;
  background: #2acfcf;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.search-term:focus {
  outline: #f46262 solid 2px;
  outline-offset: -2px;
  outline-width: 4px;
}

.search-term::-webkit-input-placeholder {
  color: #bfbfbf;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.search-term:-ms-input-placeholder {
  color: #bfbfbf;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.search-term::-ms-input-placeholder {
  color: #bfbfbf;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.search-term::placeholder {
  color: #bfbfbf;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.feature {
  background: white;
  text-align: center;
  margin: 0 3rem;
  border-radius: 10px;
  position: relative;
}

.feature-content, .feature-content-2 {
  margin-bottom: 12rem;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-bg {
  position: absolute;
  background: #3b3054;
  border-radius: 50%;
  padding: 2rem;
  top: -5rem;
}

.feature-heading {
  padding: 8rem 0 2rem 0;
}

.feature-p {
  padding: 1rem 5rem 5rem 5rem;
}

.bottom-banner {
  background: #3b3054;
}

.bottom-banner-header {
  color: white;
  text-align: center;
}

.bottom-banner {
  position: relative;
  height: 50vh;
  overflow: hidden;
  z-index: 1;
  padding: 10rem 0;
}

.bottom-banner-bg {
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50vh;
  z-index: -1;
}

.bottom-banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.bottom-banner-header {
  padding-bottom: 2rem;
}
/*# sourceMappingURL=style.css.map */